.body {
    margin: 0;
    padding: 0;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1vh;
}

#card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 30%;
    padding: 1vh;
    margin: 1vh;
    flex-wrap: nowrap;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5%;
}

h2 {
    color: #535766;
    font-size: 1.2em;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    font-weight: 600;
    display: block;
}

p {
    font-size: 1em;
    margin: 0.5vh;
    color: #282c3f;
}

button {
    margin-top: 0.5vh;
    font-size: 1.2em;
    width: 100%;
    background-color: lightgreen;
    border: none;
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
}

#cart-counter {
    float: right;
    cursor: pointer;
    font: 2em sans-serif;
}